*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: #363636;
    background: linear-gradient(-180deg, rgba(54, 54, 54, 1) 0%, rgba(28, 28, 28, 1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.397);
    z-index: 3;
}
.header__right{
    display: flex;
    justify-content: right;
    width: 50%;
    gap: 20px;
}
.header__left{
    width: 50%;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120vh;
}
.arrow{
    width: 25%;
}
.instruments{
    display: flex   ;
    flex-direction: column;
    width: 25%;
    background: #707070;
    background: linear-gradient(-90deg, rgba(112, 112, 112, 1) 0%, rgba(28, 28, 28, 1) 100%);
    padding: 5px;
    padding: 20px;
    position: fixed;
    height: 100%;
    z-index: 1;
    flex-direction: row;
    color: white;
}
.instruments__element{
    background-color: white;
    padding: 20px;
    border-radius: 20px 10px;
    cursor: pointer;
    color: black;
}
.hero__right{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    background-color: white;
    padding: 20px;
    width: 75%;
    gap: 20px;
}
.type,.shop{
    background: #707070;
    background: radial-gradient(circle, rgb(136, 136, 136) 0%, rgb(59, 59, 59) 100%);
    padding: 20px;
}
.hero__element{
    background-color: rgb(230, 230, 230);
    padding: 20px;
}
footer{
    background-color: black;
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 50px;
    justify-content: space-evenly;
    position: absolute;
    z-index: 3;

}
.footer__element{
    background-color: white;
    padding: 20px;
    width: 20%;
    border-radius: 20px 10px;
}
.footer__icon{
    width: 10%;
}
.footer__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 300px;
}
.search{
    padding: 20px;
    width: 500px;
    height: 50px;
}
.submit, .basket{
    width: 10%;
    text-decoration: none;
    display: flex;
    padding: 20px;
    height: 50px;
    align-items: center;
    background-color: rgb(206, 206, 206);
    color: white;
    cursor: pointer;
    border-radius: 20px 10px;
    transition: .25s;
    justify-content: center;
    text-align: center;
}
.header__icon{
    width: 30px;
}
.news__image{
    width: 100%;
    height: 70vh;    
    border-radius: 40px 20px;
    background-image: url(images/santa.jpg);
}
h1{
    margin: 20px 0;
    font-size: 60px;
}
.submit:hover,.basket:hover{
    border: solid black 2px;
    background-color: white;
    color: black;
    transition: .25s;
}
.instruments__element:hover,.type__element:hover{
    background-color: rgb(238, 238, 238);
}
.instruments__left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}
.instruments__right{
    display: flex;
    align-items: center;
    height: 80%;
    width: 30%;
    justify-content: center;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
}
.type__element{
    background-color: white;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    border-radius: 20px 10px;
}
.type,.shop{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-direction: row;
}
.shop__element{
    background-color: white;
    width: 30%;
    padding: 20px;
}
@media only screen and (max-width:767px){
    header{
        flex-direction: column;
        justify-content: center;
    }
    .header__right{
        flex-direction: column;
        justify-content: center;
    }
    .search{
        width: 100%;
    }
    .header__left{
        justify-content: center;
    }
    .logo{
        width: 100%;
    }
    .news__image{
        height: 200px;
        background-size: cover;
    }   
    h1{
        font-size: 40px;
    }
    footer{
        flex-direction: column;
        justify-content: center;
    }
    .footer__element{
        width: 100%;
        font-size: 12px;
    }
}
@media only screen and (max-width:1024px){
        .type{
        flex-wrap: wrap;
    }
}