*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(58, 58, 58);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.397);
}
.header__right{
    display: flex;
    justify-content: right;
    width: 50%;
    gap: 20px;
}
.header__left{
    width: 50%;
}
.hero{
    display: flex;
    flex-direction: row;
}
.instruments{
    display: flex   ;
    flex-direction: column;
    width: 25%;
    background-color: rgb(158, 158, 158);
    padding: 5px;
    gap: 20px;
    padding: 20px;
}
.instruments__element{
    background-color: white;
    padding: 20px;
    border-radius: 20px 10px;
}
.hero__right{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    background-color: white;
    padding: 20px;
    width: 75%;
    gap: 20px;
}
.hero__element{
    background-color: rgb(201, 201, 201);
    padding: 20px;
}
footer{
    background-color: black;
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 20px;
    justify-content: space-evenly;

}
.footer__element{
    background-color: white;
    padding: 20px;
    width: 20%;
    border-radius: 20px 10px;
}
.logo{
    width: 400px;
}
.search{
    padding: 20px;
    width: 500px;
    height: 50px;
}
.submit, .basket{
    display: flex;
    padding: 20px;
    height: 50px;
    align-items: center;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 20px 10px;
}
.news__image{
    width: 100%;    
    border-radius: 40px 20px;
}
h1{
    margin: 20px 0;
    font-size: 60px;
}